[Desktop Entry]
Name=GOCR
Comment=Gtk+ frontend for gocr
Comment[pl]=Frontend Gtk+ do gocr
Icon=gocr
Exec=gocr
Terminal=false
Type=Application
Categories=GTK;Graphics;OCR;
# vi: encoding=utf-8
