[Desktop Entry]
Name=GOCR
Comment=Tcl frontend for gocr
Comment[pl]=Frontend Tcl do gocr
Icon=gocr
Exec=gocr.tcl
Terminal=false
Type=Application
Categories=GTK;Graphics;OCR;
# vi: encoding=utf-8
